{% extends "HealthCentre/layout.html" %}
{% load markup_tags %}
{{ the_text|apply_markup:"markdown" }}
{% block title %}
MediTech 2.0
{% endblock %}

{% block bodytag %}

  {% load static %}
  <body style="background-size: auto auto;">

{% endblock %}

{% block body %}
    <br>

    <div class="jumbotron jumbotron-fluid" style = "margin-left:5%;margin-right:5%;background:rgba(0,0,0,0.6);color:white;">
        <div class="container">

            <h1 >Address</h1>

            <p class="lead">Sagar Institute of Science and Technology</p>
            <button class="btn btn-info" >Pin Code : 462030</button>

            <br>
            <br>

            <h1>Email</h1>

            <p class="lead">Suggestions and feedback are thoroughly welcomed.</p>
            <button class="btn btn-info" >healthcentre@MediTech.ac.in</button>

            <br>
            <br>

            <h1 >Reception Contact Numbers</h1>

            <p class="lead">Please feel free to call us anytime. 24 x 7 Helpline Availability.</p>
            <button class="btn btn-info" >Contact Numbers : 0141-3562834, 0141-35682104</button>

        </div>
    </div>

{% endblock %}
